{
  "presets": [
    "react",
    "env",
    "stage-0"
  ],
  // Enable VS Code breakpoints in server debugging:
  "env": {
    "debug": {
      "sourceMaps": "inline",
      "retainLines": true
    }
  }
}