{
  "plugins": [
    "@babel/plugin-proposal-function-bind",
    "@babel/plugin-proposal-class-properties"
  ],
  "presets": [
    "@babel/react",
    "@babel/env"
  ],
  // Enable VS Code breakpoints in server debugging:
  "env": {
    "debug": {
      "sourceMaps": "inline",
      "retainLines": true
    }
  }
}