@import "../../../styles.css";

.calculatorInput {
  display: flex;
  flex-direction: column;
  padding: 18px 12px;
  width: 100%;
}

/* .labelInfoContainer {
  display: flex;
  align-items: center;
  margin-bottom: 4px;

  & label {
    font-size: 0.8em;
    font-weight: bold;
  }
} */

.inputDescriptionInfoIcon {
  color: var(--inputLabelIconColor);
  font-size: var(--inputLabelIconSize);
  margin-left: var(--inputLabelIconMarginLeft);
}

@media (min-width: 650px) {
  .calculatorInputNoSidebar {
    width: 50%;
  }
}

@media (min-width: 850px) {
  .calculatorInputWithSidebar {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .calculatorInput {
    width: 33%;
  }
}

@media (--desktop-up) {
  .calculatorInput {
    width: 33%;
  }
}

@media (--large-up) {
  .calculatorInput {
    width: 20%;
  }
}