@import "../../../styles.css";

.calculatorInput {
  display: flex;
  flex-direction: column;
  padding: 18px 12px;
  font-size: 1.2em;
  width: 100%;
}

.calculatorInput label {
  font-size: 0.8em;
  font-weight: bold;
  margin-bottom: 4px;
}

@media (--tablet-portrait-up) {
  .calculatorInput {
    width: 50%;
  }
}

@media (--tablet-landscape-up) {
  .calculatorInput {
    width: 33%;
  }
}

@media (--desktop-up) {
  .calculatorInput {
    width: 25%;
  }
}

@media (--large-up) {
  .calculatorInput {
    width: 20%;
  }
}