.userSidebar .saveButtons {
  display: flex;
  justify-content: space-between;
}

.userSidebar .saveButtons > * {
  width: 49%;
}

.userSidebar h2 {
  margin-top: 12px;
  font-size: 18px;
}

.userSidebar p {
  font-size: 18px;
}

.userSidebar h2, .userSidebar p {
  font-family: 'Patua One', Arial;
}

.userSidebar ul {
  height: calc(100vh - 200px); /* TODO: compute the ~200px in terms of variables */
  min-height: 300px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  padding: 4px 8px;
  margin: 12px 0;
  overflow-y: auto;
}