.userSidebar .saveButtons {
  display: flex;
  justify-content: space-between;
}

.userSidebar h2 {
  margin-top: 12px;
  font-size: 18px;
}

.userSidebar p {
  font-size: 18px;
}

.userSidebar h2, .userSidebar p {
  font-family: 'Patua One'
}

.userSidebar ul {
  height: 300px;
  /* Possible background that Hailey likes: */
  /* background-color: #fff;
  padding: 4px 8px; */
  margin: 12px 0;
  overflow-y: auto;
}