@import "../../../styles.css";

.saveButtons {
  display: flex;
  justify-content: space-between;
}

.saveButtons > * {
  width: 49%;
}

.userSidebar h2 {
  margin-top: var(--savedCalcTitleMarginTop);
  font-size: var(--savedCalcTitleFontSize);
}

.userSidebar p {
  font-size: 18px;
}

.userSidebar h2, .userSidebar p {
  font-family: 'Patua One', Arial;
}

#newCalcButton {
  width: 100%;
}

#logoutButton {
  width: 100%;
}

.userSidebar {
  --ulHeightWithLogoutButton: calc(100vh - var(--headerHeight) -
    var(--savedCalcTitleMarginTop) -
    var(--savedCalcTitleFontSize) - 2 * var(--blueButtonFontSize) -
    6 * var(--blueButtonVerticalMargin) - 6 * var(--blueButtonVerticalPadding) -
    2 * var(--userSidebarULVerticalPadding) -
    2 * var(--userSidebarULVerticalMargin) - 45px);

  --ulHeightWithoutLogoutButton: calc(var(--ulHeightWithLogoutButton) +
    2 * var(--blueButtonVerticalPadding) +
    2 * var(--blueButtonVerticalMargin) + var(--blueButtonFontSize));
}

.userSidebar ul {
  height: var(--ulHeightWithLogoutButton);
  min-height: 300px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 8px;
  padding: var(--userSidebarULVerticalPadding) 8px;
  margin: var(--userSidebarULVerticalMargin) 0px;
  overflow-y: auto;
}

@media (--tablet-landscape-up) {
  .userSidebar ul {
    height: var(--ulHeightWithoutLogoutButton);
  }

  #logoutButton {
    display: none;
  }
}