.input {
  width: 285px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 12px;
  font-size: 1.4em;
}

.input input {
  border: 1px solid black;
  border-radius: 8px;
  height: 30px;
  width: 100px;
  font-size: 1em;
  padding: 4px;
}