.calculatorInputSection {
  margin: 24px;
  padding: 24px;
  background-color: #e9f3f8;
  border-radius: 10px;
}

.calculatorInputSection h2 {
  font-size: 1.8em;
  font-weight: bold;
  margin-bottom: 20px;
}

.calculatorInputSection .inputs {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}