@import "../../../styles.css";

.calculatorInputSection {
  padding: 24px;
}

.calculatorInputSection h2 {
  font-size: 1.8em;
  font-weight: bold;
  margin-bottom: 20px;
}

.inputs {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}