@import "../../../styles.css";

.sidebar {
  width: 100%;
  background-color: var(--sidebarColor);
  padding: var(--sidebarPadding);
}

@media (--tablet-portrait-up) {
  .sidebar {
    width: var(--sidebarWidth);
    min-width: var(--sidebarWidth);
  }
}