.modal {
  position: fixed;
  width: 500px;
  height: 150px;
  background-color: white;
  border: 3px solid black;
  left: 32%;
  top: 25%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
}

.modal:focus {
  outline: none;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around
}

.buttons button {
  border: 1px solid black;
}

.modal p {
  font-size: 18px;
}

.modal input {
  width: 450px;
  padding-left: 8px;
}