@import "../../../styles.css";

.modal {
  position: fixed;
  width: 80%;
  padding: 36px 20px 24px 20px;
  left: 10%;
  top: 40%;
  background-color: white;
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  font-family: var(--mainFontFamily);
  text-align: center;
  line-height: 1.4em;
}

.modal:focus {
  outline: none;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons button {
  border: 1px solid black;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;
}

.modal p {
  font-size: 18px;
}

.modal input {
  width: 98%;
  padding-left: 8px;
}

@media (--tablet-portrait-up) {
  .modal {
    width: 500px;
    height: 200px;
    left: 15%;
    top: 25%;
  }

  .buttons {
    flex-direction: row;
    justify-content: space-around;
  }

  .buttons button {
    width: 110px;
  }
}

@media (--tablet-landscape-up) {
  .modal {
    left: 25%;
  }
}