@import "../../../styles.css";

.modal {
  position: fixed;
  width: 80%;
  padding: 20px;
  left: 10%;
  top: 40%;
  height: 200px;
  background-color: white;
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
}

.modal:focus {
  outline: none;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around
}

.buttons button {
  border: 1px solid black;
}

.modal p {
  font-size: 18px;
}

.modal input {
  width: 98%;
  padding-left: 8px;
}

@media (--tablet-portrait-up) {
  .modal {
    width: 500px;
    left: 15%;
    top: 25%;
  }
}

@media (--tablet-landscape-up) {
  .modal {
    left: 25%;
  }
}