.listCalculation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  margin: 4px 0;
  padding: 6px;
  cursor: pointer;
  background-color: white;
}

.listCalculation span {
  font-family: Arial, Helvetica, sans-serif;
  text-overflow: ellipsis;
  margin-right: 2px;
  overflow: hidden
}

.trashIcon {
  min-width: 16px;
  min-height: 16px;
  color: #919191;
}

.trashIcon:hover {
  color: #585858;
}

.isSelected {
  background-color: #2196F3;
  color: white;
}

.isSelected .trashIcon {
  color: white;
}