@import "../../../styles.css";

.header {
  background-color: var(--primaryColor);
  color: var(--textColorLight);
  height: var(--headerHeight);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header a {
  text-decoration: none;
  color: var(--textColorLight);
  font-size: 30px;
  margin-left: var(--sidebarWidth);
  white-space: nowrap;
}

.authButtons {
  margin-right: 20px;
}

#loginButton {
  margin-right: 20px;
}