@import "../../../styles.css";

.header {
  background-color: var(--primaryColor);
  color: var(--textColorLight);
  height: var(--headerHeight);
  display: flex;
  align-items: center;
  justify-content: center;
}

.header a {
  text-decoration: none;
  color: var(--textColorLight);
  font-size: 1.5em;
  white-space: nowrap;
}

.authButtons {
  display: none;
}

@media (--tablet-portrait-up) {
  .header {
    justify-content: space-between;
  }

  .header a {
    font-size: 1.8em;
    margin-left: var(--sidebarWidth);
  }
}

@media (min-width: 850px) {
  .authButtons {
    display: block;
    margin-right: 20px;
  }

  #loginButton {
    margin-right: 20px;
  }
}

@media (--desktop-up) {

}