@import "../../../styles.css";
/* TODO: continue styling for mobile first design */

.header {
  background-color: var(--primaryColor);
  color: var(--textColorLight);
  height: var(--headerHeight);
  display: flex;
  align-items: center;
  justify-content: center;
}

.header a {
  text-decoration: none;
  color: var(--textColorLight);
  font-size: 1.8em;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}

.sidebarToggler {
  position: absolute;
  cursor: pointer;
  left: 12px;
  min-width: 24px;
  min-height: 24px;
}

.authButtons {
  display: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}

@media (--tablet-landscape-up) {
  .header {
    justify-content: space-between;
  }

  .header a {
    margin-left: var(--sidebarWidth);
  }

  .authButtons {
    display: block;
    margin-right: 20px;
  }

  #loginButton {
    margin-right: 20px;
  }
}