@import "../../../styles.css";

.blueButton {
  background-color: var(--buttonColor);
  color: var(--textColorLight);
  padding: var(--blueButtonVerticalPadding) 16px;
  margin: var(--blueButtonVerticalMargin) 0px;
  border: 1px solid white;
  cursor: pointer;
  border-radius: 5px;
  font-size: var(--blueButtonFontSize);
}