:root {
  --primaryColor: #044389;
  --buttonColor: #1d96f4;
  --textInputBackground: #ebebeb;
  --textColorLight: #ffffff;
  --textColorDark: #222222;
  --modalBackgroundColor: #ffffff;
  --mainBackgroundColor: #e9f3f8;
  --sidebarColor: #95a3b3;
  --sidebarWidth: 275px;
  --headerHeight: 50px;
  --sidebarPadding: 20px;
  --savedCalcTitleFontSize: 18px;
  --savedCalcTitleMarginTop: 12px;
  --blueButtonVerticalPadding: 10px;
  --blueButtonVerticalMargin: 8px;
  --blueButtonFontSize: 14px;
  --userSidebarULVerticalPadding: 4px;
  --userSidebarULVerticalMargin: 12px;
  --calculatorContentPadding: var(--sidebarWidth);
  --calculatorInputSectionPadding: 24px;
}

@custom-media --phone-only (max-width: 600px);
@custom-media --tablet-portrait-up (min-width: 601px);
@custom-media --tablet-landscape-up (min-width: 900px);
@custom-media --desktop-up (min-width: 1224px);
@custom-media --large-up (min-width: 1824px);