:root {
  --primaryColor: #044389;
  --buttonColor: #5995ED;
  --accentColor: #FFAD05;
  --textInputBackground: rgb(235, 235, 235);
  --textColorLight: #FFFFFF;
  --textColorDark: black;
  --modalBackgroundColor: #FFFFFF;
  --mainBackgroundColor: #E9F3F8;
  --sidebarColor: #52667c;
  --sidebarWidth: 300px;
  --headerHeight: 50px;
  --sidebarPadding: 20px;
  --savedCalcTitleFontSize: 18px;
  --savedCalcTitleMarginTop: 12px;
  --blueButtonVerticalPadding: 10px;
  --blueButtonVerticalMargin: 8px;
  --blueButtonFontSize: 14px;
  --userSidebarULVerticalPadding: 4px;
  --userSidebarULVerticalMargin: 12px;
}

@custom-media --phone-only (max-width: 600px);
@custom-media --tablet-portrait-up (min-width: 601px);
@custom-media --tablet-landscape-up (min-width: 900px);
@custom-media --desktop-up (min-width: 1224px);
@custom-media --large-up (min-width: 1824px);