.authenticationPage .isInvalid {
  border: 1px solid red;
}

.authenticationPage .invalidMessage {
  color: red;
  padding-bottom: 16px;
}

.authenticationPage {
  height: 100%;
}

.authenticationForm {
  width: 500px;
  margin: 50px auto;
}

.authenticationPage label {
  font-weight: bold;
}

.authenticationPage input {
  width: 100%;
  padding: 8px 12px;
  margin: 12px 0px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 2px;
}

.authenticationPage button {
  background-color: #2196F3;
  color: white;
  padding: 14px 20px;
  margin: 8px 0px;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
}

.authenticationPage h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 32px;
}