@import "../../../styles.css";

.isInvalid {
  border: 1px solid red;
}

.invalidMessage {
  color: red;
  padding-bottom: 16px;
}

.authenticationPage {
  height: 100%;
}

.authenticationForm {
  width: 80%;
  margin: 50px auto;
}

.authenticationPage label {
  font-weight: bold;
}

.authenticationPage input {
  width: 100%;
  padding: 8px 12px;
  margin: 12px 0px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 2px;
}

.authenticationPage button {
  width: 100%;
}

.authenticationPage h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 32px;
}

.authenticationPage p {
  margin-top: 8px;
}

@media (--tablet-portrait-up) {
  .authenticationForm {
    width: 500px;
  }
}